[build]
  command = "npm install --prefix ecommerce-frontend && npm run build --prefix ecommerce-frontend && npm install --prefix ecommerce-backend"
  publish = "ecommerce-frontend/dist"

[functions]
  directory = "ecommerce-backend/netlify/functions"
  node_bundler = "esbuild"

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/api/:splat"
  status = 200
  force = true

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
